[submodule "test/themes/PaperMod"]
	path = test/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "yanik/themes/PaperMod"]
	path = yanik/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "yanik/themes/blowfish"]
	path = yanik/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "yanik/themes/introduction"]
	path = yanik/themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "yanik/themes/hugo-coder"]
	path = yanik/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
